<div class="w3-container w3-content w3-white w3-margin-top-32">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <hr/>
  <h3>Custom and responsive font sizes</h3>
  <p>Try changing the view port to see the effect...</p>
  <p class="w3-tiny">Tiny</p>
  <p class="w3-small">Small</p>
  <p class="w3-medium w3-wide">Wide ...can be used with every type of text element</p>
  <p class="w3-medium w3-bold">Bold ...as well as bold,</p>
  <p class="w3-medium w3-italic">Italic ...italic</p>
  <p class="w3-medium w3-text-green w3-hover-text-red">text-green/text-hover-text-red ...and colors of course.</p>
  <p>Check out the original colors of <a href="https://www.w3schools.com/w3css/w3css_references.asp#textcolor" target=_blank>W3.CSS</a> for all possible options (and yes a link only gets an underscore. If you want a hover color, just add it..).</p>
  <p>If you don't like the underscore or want to add one, try the prefix-decoration-on/prefix-decoration-off classes</p>
  <p class="w3-medium">Medium</p>
  <p class="w3-large">Large</p>
  <p class="w3-xlarge">XLarge</p>
  <p class="w3-xxlarge">XXLarge</p>
  <p class="w3-xxlarge">XXLarge</p>
  <p class="w3-xxxlarge">XXXLarge</p>
  <p class="w3-jumbo">Jumbo</p>
  <p class="w3-responsive-24">For respsonsive font-sizes which try to stay at a fixed size as long als possible, try the prefix-responsive-classes. The sizes start at 16px and move up to 96px</p>
  <p class="w3-responsive-20">They shrink under the preferred size when a defined breakpoint is reached.</p>
  <p class="w3-right w3-small">fixed sized and centered container (by default: max-width: 980px)</p>
</div>
