//
// Static Imports
//

//
// Local Variables
//
$base-spacing: 8px;

//
// Dynamic Imports
// for my sass files check: https://github.com/TeaRexing/w3scss
@use './w3scss/src/main.scss' with ($base-font: "Roboto Condensed",
  $heading-font: "Roboto Condensed",
  $base-spacing: $base-spacing);


// make your own changes her
h1 {
  font-size: 48px; // you know what you're doing - just for the gist
}
